<!DOCTYPE html>
<html>
  <head>
    <title>&lt;3</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script data-main="js/home" src="js/lib/require.js"></script>
  </head>
  <body>
    <div id="container">
      <canvas id="canvas" width="400" height="400"></canvas>
    </div>
  </body>
</html>